{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://v1.fontapi.ir/css/ShabnamFD" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" />
    <link rel="stylesheet" href="{% static 'static/css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'static/css/uikit-rtl.min.css' %}" />
{% endblock head %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'login:logout' %}">خروج<span class="sr-only">(current)</span></a>
          <!-- exit btn -->
        </div>
      </div>
    <a class="nav-item nav-link active" href="{% url 'cart:cart_view' %}">سبد خرید <span uk-icon="icon: cart;"></span></a>
    </nav>
{% endblock header %}

{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-xl-2">
          <div class="admin-panel">
            <div class="slidebar">
              <ul>
                <li>
                  <a href="" name="tab1">داشبورد</a>
                </li>
                <li>
                  <a href="" name="tab2">ویرایش پروفایل</a>
                </li>
                <!-- <li>
                  <a href="" name="tab3">ارتباط با ما</a>
                </li> -->
                <!-- <li>
                  <a href="" name="tab4">Portfolio</a>
                </li>
                <li>
                  <a href="" name="tab5">Blog / News</a>
                </li>
                <li>
                  <a href="" name="tab6">Advanced</a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="main">
            <div class="col-md-6 box" id="tab1">
              <table class="uk-table uk-table-small">
                <thead>
                  <tr>
                    <th>اطلاعات کامل</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>نام</td>
                    <td>
                        {% if request.user.name %}
                            {{ request.user.name }}
                        {% else %}
                            {{ request.user.phone }}
                        {% endif %}
                      <!--Customer name-->
                    </td>
                  </tr>
                  {% if request.user.email %}
                  <tr>
                    <td>ایمیل</td>
                    <td>
                        {{ request.user.email }}
                      <!-- customer email-->
                    </td>
                  </tr>
                  {% endif %}
                  {% if user.phone %}
                  <tr>
                    <td>شماره تماس</td>
                    <td>
                        {{ request.user.phone }}
                      <!-- customer email-->
                    </td>
                  </tr>
                  {% endif %}
                  <tr>
                    <td>قیمت محصول</td>
                    <td>
                        {% if cart.items %}
                        {{ cart.total_price }} تومان
                        {% else %}
                        سبد شما خالی است
                        {% endif %}
                      <!--price product-->
                    </td>
                  </tr>
                </tbody>
              </table>

            {% if cart.orders.first.is_active %}
                {% with current_order=cart.orders.first %}

              <input type="radio" id="control_01" name="select" checked />
              <label for="control_01">

                <p>
                  <!-- Project name -->
                    سفارش فعال ثبت شده برای شما:<br><br>
                    {{ current_order.items }}
                </p>
                <hr />
                <p>
                    10 روزه تحویل داده می شود
                  <!-- Type of service -->
                </p>
                <p>
                    مبلغ پرداخت شده: {{ current_order.total_paid }} تومان
                  <!-- Type of service -->
                </p>

                <p>
                  <!-- Type of service -->
                </p>

              </label>
            {% endwith %}
          {% endif %}

            </div>


            <div class="col-md-6" id="tab2">

              <form method="post" enctype="multipart/form-data">

              {% comment %}
              {% if messages %}
                {% for message in messages %}
                <p class="error">
                    {{ message }}
                <!-- error messages --></p>
                {% endfor %}
              {% endif %}
                {% endcomment %}

                  {% csrf_token %}

               {% if not request.user.social_login %}
                <label>نام کاربری</label>
                <input name="username" type="text"/>
                {% endif %}

                <label>نام</label>
                <input name="first_name" type="text" />

                <label>نام خانوادگی</label>
                <input name="last_name" type="text" />

              {% if not request.user.social_login %}
                <label>آدرس ایمیل</label>
                <input name="email" type="email"/>
              {% endif %}

                 {% comment %}
                <label>رمز عبور</label>
                <input type="password" />
                  {% endcomment %}

                <label>شماره تماس</label>
                <input name="phone" type="tel" />

                <button class="change-btn" type="submit">ثبت تغییرات</button>

              </form>
            </div>

            <!-- <div id="tab3"><h2 class="header">Typography</h2></div>
            <div id="tab4"><h2 class="header">Portfolio</h2></div>
            <div id="tab5"><h2 class="header">Blog /news</h2></div>
            <div id="tab6"><h2 class="header">Advanced</h2></div> -->
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
