{% extends 'templates/base.html' %}
{% load static %}


{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">ایمیل بارگردانی رمز عبور ارسال شد</h2>
		<hr>
		<p>ایمیلی برای بازگردانی رمز عبور ارسال شد. اگر حساب کاربری با ایمیل مورد نظر ثبت شده باشد، به حساب کاربری مورد نظر
        هدایت خواهید شد. اگر ایمیلی دریافت نکردید از صحیح بودن ایمیل وارد شده اطمینان حاصل کنید یا پست های اسپم را
        مشاهده کنید. در غیر این صورت با مدیریت سایت تماس بگیرید</p>
  </div>


{% endblock %}