{% extends 'templates/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="بیگتک متخصص در طراحی وبسایت و برنامه های تحت وب و ابزارهای های تحلیل داده(Data Analytic tools) با فناوری های پیشرفته" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="طراحی وبسایت، بیگتک، بیگ تک، Bigtek، BigTek، Big Tek، طراحی اپلیکیشن تحت وب، ابزارهای تحلیل داده، Data Analysis، Data Science، website، جانگو، پایتون، ری اکت ، design web، django، react" />
    <link rel="canonical" href="{% url 'core:index' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link href="https://v1.fontapi.ir/css/ShabnamFD" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'static/css/signin.css' %}">
    <link rel="stylesheet" href="{% static 'static/css/uikit-rtl.min.css' %}">


{% endblock head %}

{% block title %}ورود کاربران{% endblock %}

{% block content %}

<div class="container_SignUp">
      <!-- Sign In - Hero Image -->
      <div class="heroSignInBackground">
        <div class="heroSignInBackgroundOverlay">
          <div class="containerHeroSignIn">
            <div class="signInContent">
              <h1>خوش آمدید</h1>
              <hr />
              <!-- <p>Login your details to start<br />your journey.</p> -->
            </div>
            <div class="heroSignInButton">
              <button class="buttonHeroSignIn" onclick="signIn()">ورود</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Sign Up - Form -->
      <div class="containerSignUp">
        <div class="socialIcons">
          <h1>عضویت</h1>
          <!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a> -->
          {% comment %}<a href="{% url "social:begin" "google-oauth2" %}" class="social"><i class="fab fa-google-plus-g"></i></a>{% endcomment %}
          <!-- <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
        </div>

        <div class="containerFormSignUp">
            <form method="post" action="{% url 'login:signup' %}">

            {% csrf_token %}
            <!-- <span class="title">or use your email for registration:</span> -->
            <input name="phone" type="tel" placeholder="شماره تلفن" required/>
            <input name="email" type="email" placeholder="آدرس ایمیل"/>
            <input name="password" type="password" placeholder="رمز عبور" required/>

            {% if messages %}
                {% for m in messages %}
                 <p class="error"> {{ m }}
                <!-- error messages --></p>
                {% endfor %}
            {% endif %}

        </div>
        <div class="formSignUpButton">
          <button type="submit" class="buttonFormSignUp">عضویت</button>
        </div>
              </form>
      </div>
    </div>

    <div class="container_SignIn" id="container_SignIn">
      <!-- Sign In - Form -->
      <div class="containerSignIn">
        <div class="socialIcons">
          <h1>ورود</h1>
          <!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a> -->
          {% comment %}<a href="{% url "social:begin" "google-oauth2" %}" class="social"><i class="fab fa-google-plus-g"></i></a>{% endcomment %}
          <!-- <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
        </div>
          <form method="post" action="{% url 'login:classic_login' %}">
              {% csrf_token %}
        <div class="containerFormSignIn">

            <!-- <span class="title">or use your email account:</span> -->
            <input name="username_login" type="text" placeholder="نام کاربری، ایمیل یا شماره تماس" />
            <input name="password_login" type="password" placeholder="رمز عبور" />
            <a href="{% url 'login:password_reset' %}">فراموش کردن رمز عبور</a>

            {% if messages %}
            {% for m in messages %}
                 <p class="error"> {{ m }}
                <!-- error messages --></p>
            {% endfor %}
            {% endif %}


        </div>
        <div class="formSignInButton">
          <button class="buttonFormSignIn">ورود</button>
        </div>
          </form>
      </div>
      <!-- Sign Up - Hero Image -->
      <div class="heroSignUpBackground" id="containerHeroSignUp">
        <div class="heroSignUpBackgroundOverlay">
          <div class="containerHeroSignUp">
            <div class="signUpContent">
              <h1>عضو شوید</h1>
              <hr />
              <div class="heroSignUpButton" onclick="signUp()">
                <button class="buttonHeroSignUp">عضویت</button>
              </div>
              <!-- <p>Enter your personal details<br />and start your journey.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %}

    {% if not request.user.username %}
        {% if messages %}
            {% for m in messages %}
                <h2>{{ m }}</h2>
            {% endfor %}
        {% endif %}
        <form method="post">
        {% csrf_token %}
        {{ login_form }}
        <input type="submit">
        </form>

        <h2>آیا می خواهید <a href="{% url 'login:signup' %}">ثبت نام</a> کنید؟</h2>

        <h2><a href="{% url "social:begin" "google-oauth2" %}">می خواهید با گوگل لاگین کنید؟</a></h2>


        <br><br>

        <h3>آیا رمز عبور خود را فراموش کرده اید؟ <a href="{% url 'login:password_reset' %}">اینجا</a> کلیک کنید</h3>

    {% else %}
        <h2>شما هم اکنون وارد شده اید. می خواهید از <a href="{% url 'login:logout' %}"> حساب کاربری خارج</a> شوید؟</h2>

    {% endif %}

    {% endcomment %}
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block scripts %}
    <script src="{% static 'static/js/signin.js' %}"></script>
{% endblock scripts %}