{% extends 'templates/base.html' %}
{% load static %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block content %}
    {% if request.user.username %}
        {% if messages %}
            {% for m in messages %}
                <h2>{{ m }}</h2>
            {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data">

        {% csrf_token %}


            <table>
                {{ password_change_form.as_table }}
            </table>

        <input type="submit">

        </form><br><br>

    {% else %}
        <h2>باید وارد <a href="{% url 'login:classic_login' %}">حساب کاربری</a> خود شوید</h2>
    {% endif %}
{% endblock content %}